# Ignore file for the Drupal container.
**/*.md
**/CHANGELOG*
**/README*
**/LICENSE*
.circleci/*
phpcs.xml
**/*.sql
**/*.gz
**/*.zip
web/core/**/tests
web/modules/contrib/**/tests
vendor/**/Tests
**/node_modules
**/.git
web/sites/**/files
web/.dockerignore
Dockerfile
composer.lock
silta/silta*.yml
