# Ignore file for the nginx container.
**/*.md
**/CHANGELOG*
**/README*
**/LICENSE*
**/*.sql
**/*.gz
**/*.zip
**/node_modules
**/.git
**/*.php
**/*.module
**/*.install
**/*.yml
core/**/tests
modules/contrib/**/tests
sites/**/files
Dockerfile